@charset "utf-8";
@import url(bootstrap.min.css);
@import url(animate.min.css);
@import url(waves.css);
@import url(owl.carousel.min.css);
@import url(feather.min.css);
@import url(select-custom.css);
@import url(select2.min.css);
@import url(datepicker-b4.min.css);
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* colors */

$transparent-color: transparent;

$white-color: rgb(255, 255, 255);
$light-white-color: rgba(255, 255, 255, 0.6);
$light-white-color2: rgba(255, 255, 255, 0.5);

$black-color:rgba(0, 0, 0, 1);
$lightblack-color:rgba(0, 0, 0, 0.4);

$primary-color: #1F2027;
$secondary-color: #6FB048;

$color1: #979797;
$light-color1: rgba(60, 69, 76, 0.5);

$sub-color1:#6E84A3;
$sub-color2:#285B89;
$sub-color3:#D9EFFF;
$lightsub-color3:rgba(217, 239, 255, 0.6);
$sub-color4:#222D39;
$sub-color5:#F9FBFD;
$lightsub-color5:rgba(249, 251, 253, 0.8);

/* End of colors */

/* default css */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-overflow-scrolling: touch; }
html { text-rendering: optimizeLegibility; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-size-adjust: 100%; scroll-behavior: smooth; }
body { font-size: 14px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; background-color: $white-color; font-family: 'Ubuntu', sans-serif !important; scroll-behavior: smooth; }

.wrapper { background-color: $white-color; display: block; height: 100%; }
.wrapper .btn.focus, .wrapper .btn:focus { outline: none; box-shadow:none; }
.wrapper .btn{ transition: all 0.3s ease-in-out; }

.container { max-width: 1200px; }
.container-lg{ max-width: 1280px; }
.page-link:focus { box-shadow: none; }

/* End of default css */

/*  general css */

.white-color{ fill: $white-color; }

.top-minues10{ margin-top: -10px !important; }
.ml-10{ margin-left: 10px !important; }
.mt-10{ margin-top: 10px !important; }
.mr-10{ margin-right: 10px; }
.p0{ padding: 0px !important; }

/*  */

a { color: $primary-color; &:hover{ color: $primary-color; } }
h2{ padding: 0; margin: 0 0 10px 0; color: $primary-color; font-size: 32px; font-weight: 700; line-height: 48px;  }
p{ font-size: 16px; color: #1F2027; line-height: 24px; font-weight: 400; }

.btn.btn-primary{ 
    padding: 5px 20px; margin: 0; border: 1px solid $secondary-color; background-color: $secondary-color; text-transform: uppercase; color: $white-color; min-height: 36px; display: flex; align-items: center; justify-content: center; font-weight: 700; font-size: 13px;  border-radius: 100px; transition: all 0.8s; line-height: 20px; 
    &:hover, &:focus{ 
        border: 1px solid $secondary-color; background-color: $secondary-color; box-shadow: 0 3px 10px 0 rgba(110, 176, 72, 0.3); transform: translateY(-2px);
    }
}

.btn.btn-primary2 {
    background: #57AD68;
    border: 1px solid #57AD68;
    border-radius: 100px;
    min-height: 56px;
    width: auto;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center; min-width: 215px;
    &:hover, &:focus{ 
        background: #57AD68;
        border: 1px solid #57AD68;
        box-shadow: 0 10px 15px 0 rgba(88, 173, 105, 0.4);
    }
}

.btn-link { padding: 0; margin: 0; width: 100%; font-size: 16px; font-weight: 500; line-height: 30px; color: $primary-color; position: relative; transition: 0.8s;
    &::after{ content: ""; position: absolute; width: 40px; height: 1px; background-color: $primary-color; bottom: -2px; left: 0;  transition: 0.8s; }

    &:hover, &:focus {
        color: $primary-color; 
        &::after{ background-color: $primary-color; width: 100%; }
    }

}

.button-div {
    display: flex; width: 100%; padding: 10px 0 10px 0;
}

.max3-lines{ display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; overflow: hidden; }
.break-line{ display: block; }

.return-to-top { 
    position: fixed; bottom: 25px; right: 25px; background: $primary-color; width: 50px; height: 50px; text-decoration: none; -webkit-border-radius: 35px; -moz-border-radius: 35px; border-radius: 35px; display: none; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; z-index: 999; 
    i { color: $white-color; margin: 0; position: relative; left: auto; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; font-size: initial; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
       &:hover { 
        background: $primary-color;
        i { color: $white-color; }
    }
    
}   

.display_show{ display: block; }
.position-fixed{ position: unset !important; overflow: hidden; }

/* add svg icons */

.call-icon{ -webkit-mask: url(../images/icons/call.svg) no-repeat 50% 50%; mask: url(../images/icons/call.svg) no-repeat 50% 50%; -webkit-mask-size: contain;  display: inline-block;  vertical-align: middle;  mask-size: contain; width: 15px; height: 15px; background-color: rgba(255, 255, 255, 0.7); margin: 0 8px 0 0px; }
.right-arrowicon{  -webkit-mask: url(../images/icons/arrow-right.svg) no-repeat 50% 50%; mask: url(../images/icons/arrow-right.svg) no-repeat 50% 50%; -webkit-mask-size: contain;  display: inline-block;  vertical-align: middle;  mask-size: cover; width: 24px; height: 18px;  color: rgba(110, 132, 163, 0.5);  fill: rgba(110, 132, 163, 0.5);  background-color: rgba(110, 132, 163, 0.5); margin: 0 0 0 10px; }


/* select2 */

.select-box{  position: relative; display: flex; align-items: center;  }
.form-control.select-control { border: 1px solid $sub-color3; border-radius: 0px; min-height: 50px; color: $color1; padding: 0 20px; font-size: 18px; font-weight: 400; width: 100%; -webkit-appearance: none; background: $sub-color2; position: relative; }
.form-control.select-control:focus{ outline: none; box-shadow:none; }

.select-custom2{ 
    span.select2-selection.select2-selection--single { border: 1px solid #DFEAF1 !important; border-radius: 0px; min-height: 50px; color: #3C454C; padding: 10px 10px; font-size: 18px; font-weight: 400; width: 100%; -webkit-appearance: none; background: #FAFCFD; position: relative; }
    .select2.select2-container .select2-selection .select2-selection__arrow { -webkit-border-radius: 0 0px 0px 0; -moz-border-radius: 0 0px 0px 0; border-radius: 
        0 0px 0px 0; height: 47px; width: 37px; background-color: transparent; border: none; }
    .select2-container--default .select2-selection--single .select2-selection__arrow b{     border: none; top: 15px; left: 10px;
        &::before{ content: ""; -webkit-mask: url(../images/icons/keyboard_arrow_up.svg) no-repeat 50% 50%; mask: url(../images/icons/keyboard_arrow_up.svg) no-repeat 50% 50%; -webkit-mask-size: cover; display: inline-block; vertical-align: middle; mask-size: cover; text-align: center; width: 24px; height: 24px; background-color: $lightblack-color; transform: rotate(180deg);  }        
} 
}
.select2-container .select2-dropdown .select2-search input { outline: none; border: 1px solid #DFEAF1; border-bottom: none; padding: 10px 10px; }
.select2-container .select2-dropdown .select2-results ul { background: #fff; border: 1px solid #DFEAF1; }
.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] { background-color: $primary-color; }
.select2-results__option { padding: 10px; }
 
/* end of select2 */

/*  End of general css */


.heading-div{ 
    padding: 0; margin: 0 0 20px 0; position: relative; 
    h2{  
        padding: 0; margin: 0 0 35px 0; font-weight: 700; line-height: 60px; font-size: 32px; color: $primary-color; text-align: center; position: relative; display: flex; justify-content: center; align-items: center;
        &::after{ content: ""; background-color: #6FB048; height: 2px; display: inline-block; position: absolute; bottom: -5px; width: 65px; }
        span{ display: block; }
    }
    .light-font { font-weight: 300; }
    p{ padding: 0; margin: 0 0 10px 0; width: 100%; text-align: center;  }
}

.heading-left-div{
    padding: 0; margin: 0 0 20px 0; position: relative; 
    .light-font { font-weight: 300; }
    h2{ padding: 0; margin: 0 0 30px 0;}
    p { letter-spacing: 0; font-size: 24px; line-height: 36px; text-align: left; color: rgba(31, 32, 39, 0.47); }
    .font-700 { font-weight: 700; }
}

.heading-div2 {
    max-width: 1000px;
    margin: 0 auto;
    p {
        margin: 0 0 20px 0;
        line-height: 28px;
    }
}

.heading-left-div2{
    p{ margin: 0 0 20px 0; }
}

.heading-div-inc2{
    p {
        line-height: 30px;
        font-size: 18px;
    }
}

/* header */

.call-div{ padding: 0 0 0 25px; margin: 0 0 0 15px; border-left: 1px solid rgba(255, 255, 255, 0.2); position: relative; 
    .link-action { padding: 0; margin: 0; font-weight: 400; font-size: 14px; color: #FFFFFF; min-height: 24px; display: flex; align-items: center; }

}


header{
    position: relative;

    .header-div.header-bgcolor { 

        padding: 0; margin: 0; background-color: $primary-color; position: fixed; z-index: 9999; width: 100%;  min-height: 75px; transition: all 0.8s; top: 0; left: 0; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        
        z-index: 9999;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.10);
        transform: translateZ(65px);
        animation: slide-down 0.9s;
        animation-name: fadeInDown;
        
    } 

    .header-div { 

        padding: 0; margin: 0; background-color: $primary-color; position: absolute; z-index: 9999; width: 100%; min-height: 86px;  transition: all 0.5s;

        .logo-div { padding: 0px 0px 0px 0px; margin: 0; display: flex; float: left; width: 35%; align-items: center; min-height: 86px; }
        .nav-center-div{ padding: 15px 0px 15px 0px; margin: 0; display: flex; float: left; width: 65%; align-items: center; justify-content: flex-end; min-height: 86px; }
        
        .main-logo{ display: block; }
        .logo_img{ transition: display ease-in-out 0.5s;height: 60px; object-fit: contain; }
        
        /* start navigation  **/

        .top-nav1 { display: flex; justify-content: flex-end; align-items: center; padding: 0px 0 0 0; width: 100%;  }
        .inner-top-header-div{ padding: 0;margin: 0; }
        .inner-top-header-div.top-nav1 { padding: 0; margin: 0; float: right; }

        .cd-shadow-layer { position: fixed; min-height: 100%; width: 100%; top: 0; left: 0; background: rgba(0, 0, 0, 0.4); cursor: pointer; z-index: 99999; display: none; }
        .cd-shadow-layer.is-visible { display: block; -webkit-animation: cd-fade-in 0.3s; -moz-animation: cd-fade-in 0.3s; animation: cd-fade-in 0.3s; }

        .display-none{ display: none !important; }
        .nav-div .closebtn { display: none; }

        .ullist-inline { 
            padding: 0 0 0px 0; margin: 0px 0px 0 0; display: flex; align-items: center; min-height: 45px; 
                
            li{ padding: 0;margin: 0 35px 0 0;display: inline-block;text-transform: capitalize;font-size: 14px; }
            li.nav-item.dropdown.btn-user-dropdown { margin: 0; }
            li:last-child{ margin: 0 0 0 0; }
            li .nav-link { color: $light-white-color2; text-transform: uppercase; padding: 10px 0px 3px 0; font-weight: 400; border-bottom: 1px solid transparent; font-size: 14px; line-height: 1.5; }
            li .nav-link { position: relative; display: inline-block; overflow: hidden; }
            li .nav-link:before { left: 0px; bottom: 0; width: 100%; height: 1px; background: $white-color; transform: translateX(-101%); }
            li .nav-link:hover:before { transform: translateX(0); }
            li .nav-link:before, li .nav-link:after, li .nav-link > span:before, li .nav-link > span:after { content: ''; position: absolute; transition: transform .5s ease; }
            li .nav-link:hover{ color: $white-color; }
            li.active .nav-link{ color: $white-color; }
            li.active .nav-link:before { left: 0px; bottom: 0; width: 100%; height: 1px; background: $white-color; transform: translateX(0%); }
            li .nav-link.btn-user { 
                height: 48px; width: 47px; display: flex; align-items: center; justify-content: center; background-color: #003E89; margin: -10px 0 0 0; 
                &::before{ display: none; }
            }
            .dropdown-toggle::after{ display: none; }
            .dropdown-menu{ 
                border: 1px solid #DFEAF1;   min-width: 145px; border-radius: 0px;
                li{ display: block; width: 100%; 
                    a{ 
                        padding: 6px 15px; width: 100%; display: block; margin: 0 0 5px 0; color: rgba(11, 22, 43, 0.5); font-size: 16px; font-weight: 500; transition: 0.5s;
                        &:hover{ background-color: #F2F7F9; color: #0B162B; }
                    }
                    
                }
            }
            .btn.btn-gradiant2.btn-mycart{ 
                padding: 5px 10px; min-height: 48px; display: flex; align-items: center; justify-content: center; text-transform: capitalize;
                span.count-span { background-color: #003E89; margin: 0 0 0 10px; border-radius: 100%; height: 27px; width: 27px; display: flex; align-items: center; justify-content: center; font-size: 16px; letter-spacing: -1px; }
            }

        }

        .nav-m-bar .menu-bars {display: none;}
        
        /*  End of navigation  */

    }

}

/* End of header */

/* banner */

.home-banner{ 
    background: #1F2027 url(../images/home-banner.jpg) no-repeat; background-size: cover; background-position: right; 
}

.banner-section{  
    padding: 86px 0 0 0; margin: 0; position: relative; 
    .banner-div{ 
        padding: 0 0 0 0; margin: 0px 0 0 0; position: relative; display: flex; align-items: center; overflow: hidden;
        min-height: 600px; background-color: rgba(31, 32, 39, .7); 
    }
}

.about-banner{ 
    background: #1F2027 url(../images/about-us.jpg) no-repeat; background-size: cover; background-position: center top; 
    .banner-div{
        background-color: rgba(31, 32, 39, .6); 
    }
}


.banner-content{
    padding: 0; margin: 0; position: relative; 
    h1 { font-size: 48px; color: #6FB048; letter-spacing: 0.48px; text-align: center; line-height: 56px; font-weight: 400; margin: 0 0 10px 0; font-family: 'Times New Roman', Times, serif; }
    p { font-weight: 300; font-size: 26px; color: #FFFFFF; letter-spacing: 0.26px; text-align: center; line-height: 40px; }
}

/* End of banner */

/* Inner Pages  **/

.testimonials-section{
    padding: 0; margin: 0; position: relative; overflow: hidden;
    .testimonials-div{
        padding: 90px 0 70px 0; margin: 0; background-color: #fafafa; box-shadow: 0 20px 45px 0 rgba(44, 124, 229, 0.05); 
        
        .testimonials-box-root{
            padding: 30px 0px 0 0; margin: 0; display: flex;
            .testimonials-box{
                padding: 0px 0px 0px 0px; margin: 0px 0 20px 0px; background-color: transparent; border-radius: 4px; width: 100%; display: inline-block; min-height: 200px; position: relative; transition: 0.8s;
                .testimonials-thumb{
                    padding: 0px 0 0 0; margin: 30px auto 20px auto; text-align: center; display: flex; justify-content: center;
                    .client-img { height: 75px; width: 75px; object-fit: cover; max-width: 75px; border-radius: 100px; z-index: 3; position: relative }
                }
                .testimonials-desc{
                    padding: 25px 30px 20px 30px; margin: 0 auto; background: #FFFFFF; border: 1px solid #CFCFCF; border-radius: 4px; min-height: 160px; max-width: 570px; position: relative;  display: flex; flex-direction: column; align-items: center; justify-content: center;
                    &::before{ content: ""; background: url(../images/icons/quote.svg) no-repeat; position: absolute; top: 12px; left: 16px; background-size: contain; height: 26px; width: 30px; }
                    
                    h4 { padding: 0; margin: 0; color: rgba(31, 32, 39, .47); font-weight: 300; font-size: 16px; letter-spacing: 0; text-align: center; line-height: 24px; }
                    p{ padding: 0 10px; font-weight: 400; overflow: hidden; font-size: 14px; color: #1F2027; letter-spacing: 0; text-align: center; line-height: 24px; font-style: italic; margin: 0 0 5px 0; }
                    .arrow { display: flex; align-items: center; justify-content: center;     bottom: -20px; position: absolute;
                        &::before{ content: ""; border-bottom: 10px solid #ffffff00; border-right: 10px solid #ddd0; border-top: 10px solid #CFCFCF; border-left: 10px solid #ffffff00; display: inline-block; position: absolute; bottom: -1px;  }
                        &::after{ content: ""; border-bottom: 10px solid #ffffff00; border-right: 10px solid #ddd0; border-top: 10px solid #ffffff; border-left: 10px solid #ffffff00; display: inline-block; position: absolute; bottom: 0;  }
                    }
                }
            }

        }

        .owl-testimonials{
            .owl-dots { display: flex; justify-content: center; align-items: center; padding-left: 0px; }
            .owl-dot {
                outline: none; box-shadow: none;
                span { background-color: #D8D8D8; border: 1px solid #979797; height: 13px; width: 13px; display: inline-block; border-radius: 100px; margin: 0 7px 0 7px; }
                &.active{ 
                    span{ background-color: #727272; }
                }
            }    
            
        }

    }
}


.product-section{ padding: 0 0 70px 0; margin: 0; position: relative; 
    .product-main-div{ padding: 70px 0 70px 0; 
        &::after{ content: ""; border-bottom: 1px solid rgba(151, 151, 151, .32); width: 100%; position: absolute; max-width: 1170px; bottom: 0; }
    }
    .product-div{ 
        margin: 0; position: relative; display: flex; align-items: center; overflow: hidden; justify-content: center;
        .product-root{ padding: 0 15px 0 0; margin: 0;  }
        .product-img { width: 100%; }
        .product-root2{ padding: 0 0 0 40px; margin: 0; height: 100%; display: flex; align-items: center; 
            p{ color: rgba(31, 32, 39, 0.55); } 
        }
    }
    .product-sub{ 
        padding: 70px 0 0 0; margin: 0; position: relative;
        .product-img { width: 100%; }
        .product-root2{ padding: 0 0 0 40px; margin: 0; height: 100%; display: flex; align-items: center; 
            p{ color: rgba(31, 32, 39, 0.55); margin: 0 0 10px 0; } 
        }
        &.product-left-div{
            .product-root2{ padding: 0 40px 0 0; }
        }
    }
}

.blockquote-border{
    padding: 20px 0 40px 0; position: relative;
    p{  padding: 0 20px; font-size: 24px; font-weight: 500; font-style: italic; color: #000D0D; letter-spacing: 0; line-height: 36px; border-left: 4px solid #6FB048; text-align: left; }
}

.applications-section{
    padding: 0; margin: 0; position: relative; overflow: hidden;
    .applications-div{
        padding: 70px 0 70px 0; margin: 0; background-color: #fafafa; 
        .app-root{ 
            text-align: center; max-width: 700px; margin: 0 auto;
            p{ letter-spacing: 0; font-size: 24px; line-height: 36px; margin: 0 0 40px 0; }
            .btn.btn-primary2 { border: 1px solid #6FB048; background-color: #6FB048; 
                &:hover, &:focus{
                    border: 1px solid #6FB048; background-color: #6FB048; 
                }
            }
        }

    }
}       

.footer-root{
    padding: 0; margin: 0; 
    .footer-div { padding: 25px 0 20px 0; margin: 0; position: relative; background-color: $primary-color;
        
        .logo-footer{ width: auto; height: 100%; display: flex; align-items: center; }
        .img-footerlogo { height: 60px; }
        .footer-list-root { display: flex; align-items: center; justify-content: flex-end; min-height: 44px;
            ul.footer-ul { list-style: none; display: flex;
                li{ padding: 0; margin: 0 0 0 30px; }
                li.active{ a.link-footer { color: $white-color; } }
                a.link-footer { color: $light-white-color2; text-transform: uppercase; padding: 0px 0px 3px 0; font-weight: 400; border-bottom: 1px solid transparent; font-size: 16px; line-height: 1.5; 
                    &:hover, &:focus{
                        color: $white-color;
                    }
                }
            }
           
        }
    }
    .footer-bottom{
        padding: 15px 0 15px 0; margin: 0; background-color: $black-color;
        p{ padding: 0; margin: 0; color: #DEDEDE; font-size: 14px; line-height: 24px; }
        .link-a{ 
            color: #DEDEDE;
            &:hover, &:focus {
                color: #DEDEDE;
            }
        
        }
        .footer-bottom-right {     display: flex; justify-content: flex-end;
            ul.list-style-inline{ display: flex; list-style: none;
                li{ list-style: none; margin: 0 10px 0 10px; 
                    &:last-child{ margin-right: 0px; }
                }
                
                .social-link{ color: #fff; 
                    .icon { font-size: 18px; padding: 5px; height: 25px; width: 25px; border-radius: 100px; display: flex; align-items: center; justify-content: center; transition: all 0.8s; }
                    &:hover, &:focus{ color: #6FB048; }
                }
            }
        }
    }
}

/* end of home page */


.about-us-section{
    padding: 0; margin: 0; position: relative; overflow: hidden;
    .about-us-div{
        padding: 70px 0 70px 0; margin: 0;
        
    }
}   

.about-content-section{
    padding: 0; margin: 0; position: relative; overflow: hidden;
    .about-content-div{
        padding: 70px 0 70px 0; margin: 0; background-color: #FAFAFA;
        p{ margin: 0 0 30px 0; text-align: center; font-size: 18px; line-height: 28px; }
    }
}   

.about-content-section{
    padding: 0; margin: 0; position: relative; overflow: hidden;
    .about-content-div{
        padding: 70px 0 70px 0; margin: 0; background-color: #FAFAFA;
        p{ margin: 0 0 30px 0; text-align: center; font-size: 18px; line-height: 28px; }
    }
}     

.product-inner-section{
    padding: 0; margin: 0; position: relative; overflow: hidden;
    .product-inner-div{
        padding: 70px 0 70px 0; margin: 0;
        .heading-div{
            margin: 0 0 60px 0;
        }
        .product-image-div {
            height: 100%; display: flex; align-items: center;
            img{ width: 100%; }
        }
    }
}  

.product-content-section{
    padding: 0; margin: 0; position: relative; overflow: hidden;
    .product-content-div{
        padding: 70px 0 50px 0; margin: 0; background-color: #FAFAFA;
        
    }
}     

.pt-86{ padding-top: 86px; }


.content-div{
    ul{
        list-style: none;
        li {
            padding: 0 0 0 40px; margin: 0 0 30px 0; width: 100%; color: #1A1919; font-size: 22px; line-height: 36px; font-weight: 400; position: relative;
            sup { font-size: 75%; }
            &::before{ content: "\e86c"; font-family: 'Material Icons'; font-weight: normal; font-style: normal; font-size: 24px; line-height: 1; letter-spacing: normal; text-transform: none; display: inline-block; white-space: nowrap; word-wrap: normal; direction: ltr; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; color: #6FB048; position: absolute; left: 0; top: 6px; }
        }
    }

    .ul-update2{
        li {
            padding: 8px 0 0 40px;
            margin: 0 0 10px 0;
            width: 100%;
            font-size: 18px;
            line-height: 28px;
            &::before{ top: 10px; }
        }
    }
}

.content-div2{
    max-width: 1000px;
    margin: 0 auto;
}

.contact-section{
    padding: 0; margin: 0; position: relative; overflow: hidden;
    .contact-div{
        padding: 70px 0 70px 0; margin: 0; background-color: #FAFAFA;
        
    }
}  

.image-block-section{
    padding: 0; margin: 0; position: relative; overflow: hidden;
    .image-block-div{
        padding: 70px 0 70px 0; margin: 0;
        
        .img-block {
            width: 100%;
            object-fit: cover;
            height: 400px;
            margin: 0 0 30px 0;
            border-radius: 4px;
            transition: all 0.8s;
            &:hover{
                opacity: 0.8;
            }
        }
        .img-full {
            height: 550px;
        }
    }
}

.attachment-block-thumb{
    padding: 0 0 50px 0; margin: 0 0 50px 0; border-bottom: 1px solid #eee;     display: flex; flex-wrap: wrap;
    ul{
        margin: 0 auto;
        list-style: none;
        display: flex;
        li {
            font-size: 24px;
            .attachment-link {
                color: #6fb047; transition: all 0.8s;
                &:hover{
                    color: #222222;
                }
            }
            .vline{
                padding: 0 25px;
            }
        }
    }
}


.form-root-div{     padding: 0;
    margin: 40px auto 0 auto;
    max-width: 750px;

    .form-control{
        border: 1px solid #1F2027;
        box-shadow: none;
        min-height: 60px;
        padding: 9px 20px 7px 20px;
        border-radius: 9px;
        font-size: 16px;
        color: rgba(114, 114, 114, 1);
        font-weight: 500;
        
        &::-webkit-input-placeholder { color: #1F2027; }
        &:-moz-placeholder { color: #1F2027; }
        &::-moz-placeholder { color: #1F2027; }
        &:-ms-input-placeholder { color: #1F2027; }

        &:focus{
            border: 1px solid rgba(151, 151, 151, 1);
        }

    }
    .submit-btn-row {
        display: flex;
        justify-content: center;
        padding: 30px 0 0 0;
    }
    textarea.form-control { padding: 15px 20px; resize: none;     min-height: 150px; }

}

.contact-map-section{
    padding: 0; margin: 0; position: relative; overflow: hidden;
    .contact-map-div{
        padding: 70px 0 70px 0; margin: 0; 

        .contact-root{ 
            p { font-size: 21px; line-height: 32px; margin: 0 0 10px 0; }
            .contact-info-div {
                margin: 0 0 0 0;
                padding: 0 0 20px 0;
            }
        }
        
        .map-frame { width: 100%; min-height: 300px; }

    }
}    

.product-details-table{
    padding: 0; margin: 0; 
    .font-700{ font-weight: 700 !important; }
    .table-row {
        border-bottom: 2px solid #fff;
        display: flex;
        flex-wrap: wrap;
        .table-col{
            background-color: #dbdcde;padding: 10px; border-right: 2px solid #fff; font-size: 16px; color: #222222; font-weight: 400;
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
            sup {
                font-size: 75%;
            }
        }
        .table-col1 {
            flex: 0 0 50%;
            max-width: 50%;
            width: 100%;
        }
        .table-col2 {
            flex: 0 0 25%;
            max-width: 25%;
            width: 100%;
        }
        .table-col3 {
            flex: 0 0 25%;
            max-width: 25%;
            width: 100%;
        }
    }
    .table-heading{
        .table-col{
            text-align: center; padding: 15px 10px; font-size: 18px; color: #47319c; font-weight: 700;
        }
    }
}


@media (min-width: 1025px) {

    .main-middle-area {
        min-height: calc(100vh - 155px);
    }

}

@media (min-width: 1025px) and (max-width: 1290px) {
    
    .container {
        max-width: 1100px;
    }

}

@media (min-width: 1025px) and (max-width: 1450px) {

    .heading-div{  h2 { font-size: 36px; line-height: 48px; } }
    h2 { font-size: 36px; line-height: 48px; }
    p{ font-size: 14px; line-height: 26px; }
    .btn-link{ font-size: 14px; line-height: 26px; }

    .product-section {
        .product-div {
            .product-content {
                min-height: 400px;
                .cover-img-div {
                    flex: 0 0 45%;
                    max-width: 45%;
                    .product-img {
                        height: auto;
                    }
                }
                .content-div{
                    padding: 0px 0 30px 40px;
                }
            }
        }
    }
    
    .about-us-section {
        .about-us-div {
            .side-img-banner {
                top: 00px; flex: 0 0 44%; max-width: 44%; 
                img.banner-img{ height: auto; }
            }
        }
    }
    
    .track-breaches-section {
        .track-breaches-div {
            .side-img-banner {
                img.banner-img {
                    height: auto;
                }
            }
        }
    }

    .testimonials-section {
        .testimonials-div {
            &::after { height: 80px; width: 265px; }
            &::before { height: 80px; width: 265px; }
        }
    }
    
    

}

@media (min-width: 1450px) and (max-width: 1700px) {

}

@media (max-width: 767px) {

    .overflow-fixed { overflow: hidden; }

    .home-banner {
        background-position: right;
    }

    header{
        .header-div{

            min-height: 70px; 

            .logo_img{ height: 45px; }
            .nav-center-div { width: 50px; order: 3; min-height: 70px; padding: 0; justify-content: flex-end; }
            .logo-div {    width: calc( 100% - 50px ); order: 1; justify-content: space-between; }
            .logo-div .logo_link  { width: 130px; }
            
            .top-nav1 {display: flex;align-items: center; height: 100%; justify-content: flex-end; }
            .nav-m-bar .menu-bars{ font-size: 30px; color: $white-color; display: flex; align-items: center;}
            .nav-div { height: 100%; width: 0; position: fixed; z-index: 9999999; top: 0; right: 0;  background-color: $white-color; overflow-x: hidden; padding-top: 60px; transition: 0.5s; }
            .nav-div .closebtn { position: absolute; color: $primary-color; background-color: transparent;  border-radius: 0 0 0 30px; top: 0; min-width: 45px; text-align: center; height: 45px; display: flex; justify-content: center; align-items: center; right: 0; font-size: 40px; font-weight: 300; line-height: 35px; margin-top: 15px; margin-right: 10px; }
            .nav-div .closebtn:hover { color: $primary-color; }
            .nav-div .closebtn { display:block;}

            .width80{  width: 300px; }
            .opacityon{ opacity: 1; }
            .cd-shadow-layer.displayblock{ display: block;  height: 100%; overflow: hidden; }
            
            .nav{ margin: 0 auto; padding: 0 15px; }

            .max-container-container{ bottom: 20px; }
            .banner-caption { padding: 0px 0; }
            .banner-section .banner-div .center_title .social-icon-div ul { margin: 0 0 8px 0; }

            .header-container {display: flex;}
            .header-right-div {align-items: center;}
            
            .logo-div { padding: 15px 0; min-height: 70px; }
            
            .nav-div .closebtn {display: block; color: $primary-color;}

            .ullist-inline li{ width: 100%; margin: 0; }
            .ullist-inline li .nav-link {color: $primary-color !important; padding: 15px 30px; white-space: nowrap; width: 100%; text-align: center; }
            .ullist-inline li.active .nav-link { color: $primary-color !important; }
            
            a.btn.btn-blue.top-minues10 { margin: 10px !important; border-radius: 0px; }

            .contact-us-btn.ml-10{ margin: 20px 20px 20px 20px !important; padding: 10px; }
            .btn.btn-primary {
                margin: 10px auto;
                width: 150px;
            }
        }   
        .header-div.header-bgcolor{
            animation:none; min-height: 70px; transform:none;
        }
    }

    .call-div{
        border-left:none;
        span.call-text{ display: none; }
    }

    .position-fixed {
        overflow: hidden;
    }

    .heading-div{  h2 { font-size: 30px; line-height: 42px; } }
    h2 { font-size: 30px; line-height: 42px; }
    p{ font-size: 14px; line-height: 26px; }
    .btn-link{ font-size: 14px; line-height: 26px; }
    .break-line { display: inline-block; }

    .return-to-top { bottom: 10px; right: 10px; width: 35px; height: 35px;
        i { font-size: 14px !important; }
    }

    /********/
    
    .banner-section { padding: 70px 0 0 0;
        .banner-div {
            min-height: calc(100vh - 70px);
        }
    }

    .banner-content {
        h1 {
            font-size: 36px;
            line-height: 48px;
        }
        p {
            font-size: 20px;
            line-height: 28px;
        }
    }
    
    .testimonials-section {
        .testimonials-div {
            .testimonials-box-root {
                .testimonials-box {
                    padding: 0px 0px 0px 0px;
                    margin: 0px 0 20px 0px;
                }
            }
            .owl-testimonials {
                .owl-dots {
                    padding-left: 0;
                }
            }
        }
    }
    
    .heading-left-div {
        p {
            font-size: 20px;
            line-height: 32px;
        }
    }
    .blockquote-border {
        p {
            padding: 0 15px;
            font-size: 18px;
            line-height: 28px;
        }
    }
    
    .product-section {
        .product-div {
            .side-img-banner {
                margin: 70px 0 0 0;
            }
        }
        .product-sub {
            .product-root2 {
                padding: 0 0 0 0px;
            }
        }
        .product-right-div {
            .side-img-banner {
                margin: 0 0 30px 0;
            }
        }
        .product-sub.product-left-div {
            .product-root2 {
                padding: 0 0px 0 0;
            }
            .side-img-banner {
                margin: 0 0 30px 0;
            }
            
        }

    }
    
    .btn.btn-primary2 {
        min-height: 48px;
        font-size: 16px;
        min-width: 215px;
    }

    .footer-root {
        .footer-div {
            .logo-footer { margin: 10px 0 0px 0; }
            .footer-list-root{ 
                display: block;
                ul.footer-ul{ display: block; padding: 20px 0 10px 0;
                    li{  margin: 10px 0 0 0px; text-align: left; width: 49%; display: inline-block; }
                    a.link-footer {
                        font-size: 14px;
                    }
                }
            }
            .img-footerlogo{
                height: 45px;
            }
        }
        .footer-bottom { padding: 15px 0 15px 0;
            .footer-bottom-right {
                justify-content: flex-start; margin: 10px 0 0 0;
                ul.list-style-inline {
                    li:first-child {
                        margin: 0 10px 0 0px;
                    }
                }
            }
        }
    }
    
    /* End of home page */

    .about-content-section {
        .about-content-div {
            p {
                margin: 0 0 20px 0;
                font-size: 14px;
                line-height: 24px;
            }
        }
    }

    .product-inner-section {
        .product-inner-div {
            .product-image-div {
                margin: 40px 0;
            }
        }
    }
    
    
    
    .content-div{
        ul {
            li {
                padding: 5px 0 0 40px;
                margin: 0 0 20px 0;
                font-size: 18px;
                line-height: 28px;
            }
        }
        .ul-update2{
            li {
                padding: 5px 0 0 30px;
                margin: 0 0 20px 0;
                font-size: 16px;
                line-height: 26px;
            }
        }
    }

    
    .contact-root {
        margin: 0 0 60px 0;
    }

    .product-inner-section {
        .product-inner-div {
            .order-lg-2.order-md-1{
                order: 1;
            }
            .product-image-div {
                margin: 0 0 20px 0;
                height: auto;
            }
        }
    }
    
    .product-details-table {
        .table-heading {
            .table-col {
                padding: 10px 5px;
                font-size: 14px;
            }
        }
        .table-row {
            border-bottom: 1px solid #fff;
            .table-col {
                padding: 10px 5px;
                border-right: 1px solid #fff;
                font-size: 12px;
                word-break: break-word;
            }
            .table-col1 {
                flex: 0 0 35%;
                max-width: 35%;
            }
            .table-col2 {
                flex: 0 0 33%;
                max-width: 33%;
            }
            .table-col3 {
                flex: 0 0 32%;
                max-width: 32%;
            }
        }
    }
    

    .content-div {
        ul {
            li {
                font-size: 16px;
                line-height: 28px;
                padding: 0px 0 0 30px;
                &::before {
                    font-size: 18px;
                }
            }
        }
    }

    .image-block-section {
        .image-block-div {
            .img-block {
                height: auto;
            }
        }
    }
    

    
}

@media (min-width: 768px) and (max-width: 1024px) {

    .overflow-fixed { overflow: hidden; }

    header{
        .header-div{

            min-height: 70px; 

            .logo_img{ height: 55px; }

            .nav-center-div { width: 30%; order: 3; min-height: 70px; padding: 0; justify-content: flex-end; }
            .logo-div {    width: 70%; order: 1; }
            .logo-div .logo_link  { width: auto; }
            
            .top-nav1 {display: flex;align-items: center; height: 100%; justify-content: flex-end; }
            .nav-m-bar .menu-bars{ font-size: 30px; color: $white-color; display: flex; align-items: center;}
            .nav-div { height: 100%; width: 0; position: fixed; z-index: 9999999; top: 0; right: 0;  background-color: $white-color; overflow-x: hidden; padding-top: 60px; transition: 0.5s; }
            .nav-div .closebtn { position: absolute; color: $primary-color; background-color: transparent;  border-radius: 0 0 0 30px; top: 0; min-width: 45px; text-align: center; height: 45px; display: flex; justify-content: center; align-items: center; right: 0; font-size: 40px; font-weight: 300; line-height: 35px; margin-top: 15px; margin-right: 10px; }
            .nav-div .closebtn:hover { color: $primary-color; }
            .nav-div .closebtn { display:block;}

            .width80{  width: 300px; }
            .opacityon{ opacity: 1; }
            .cd-shadow-layer.displayblock{ display: block;  height: 100%; overflow: hidden; }
            
            .nav{ margin: 0 auto; padding: 0 15px; }

            .max-container-container{ bottom: 20px; }
            .banner-caption { padding: 0px 0; }
            .banner-section .banner-div .center_title .social-icon-div ul { margin: 0 0 8px 0; }

            .header-container {display: flex;}
            .header-right-div {align-items: center;}
            
            .logo-div { padding: 15px 0; min-height: 70px; }
            
            .nav-div .closebtn {display: block; color: $primary-color;}

            .ullist-inline li{ width: 100%; margin: 0; }
            .ullist-inline li .nav-link {color: $primary-color !important; padding: 15px 30px; white-space: nowrap; width: 100%; text-align: center; }
            .ullist-inline li.active .nav-link { color: $primary-color !important; }
            
            a.btn.btn-blue.top-minues10 { margin: 10px !important; border-radius: 0px; }

            .contact-us-btn.ml-10{ margin: 20px 20px 20px 20px !important; padding: 10px; }
            .btn.btn-primary {
                margin: 10px auto;
                width: 150px;
            }
        }   
        .header-div.header-bgcolor{
            animation:none; min-height: 70px; transform:none;
        }
    }


    .position-fixed {
        overflow: hidden;
    }

    .heading-div{  h2 { font-size: 30px; line-height: 42px; } }
    h2 { font-size: 30px; line-height: 42px; }
    p{ font-size: 14px; line-height: 26px; }
    .btn-link{ font-size: 14px; line-height: 26px; }
    .break-line { display: inline-block; }

    .return-to-top { bottom: 10px; right: 10px; width: 35px; height: 35px;
        i { font-size: 14px !important; }
    }

    /********/
    
    .banner-section { padding: 70px 0 0 0;
        .banner-div {
            min-height: 500px;
        }
    }

    .banner-content {
        h1 {
            font-size: 36px;
            line-height: 48px;
        }
        p {
            font-size: 20px;
            line-height: 28px;
        }
    }
    
    .testimonials-section {
        .testimonials-div {
            .testimonials-box-root {
                .testimonials-box {
                    padding: 0px 0px 0px 0px;
                    margin: 0px 0 20px 0px;
                }
            }
            .owl-testimonials {
                .owl-dots {
                    padding-left: 0;
                }
            }
        }
    }
    
    .heading-left-div {
        p {
            font-size: 16px;
            line-height: 28px;
        }
    }
    .blockquote-border {
        padding: 10px 0 20px 0;
        p {
            padding: 0 15px;
            font-size: 16px;
            line-height: 28px;
        }
    }
    
    .product-section {
        .product-div {
            .side-img-banner {
                margin: 70px 0 0 0;
            }
        }
        .product-sub {
            .product-root2 {
                padding: 0 0 0 0px;
            }
        }
        .product-right-div {
            .side-img-banner {
                margin: 0 0 30px 0;
            }
        }
        .product-sub.product-left-div {
            .product-root2 {
                padding: 0 0px 0 0;
            }
            .side-img-banner {
                margin: 0 0 30px 0;
            }
            
        }

    }
    
    .btn.btn-primary2 {
        min-height: 48px;
        font-size: 16px;
        min-width: 215px;
    }

    .footer-root {
        .footer-div {
            .logo-footer { margin: 10px 0 0px 0; }
            .img-footerlogo{
                height: 55px;
            }
            
        }
        .footer-bottom { padding: 20px 0 20px 0;
            .row.align-items-center{     align-items: flex-start !important; }
            .footer-bottom-right {
                
                ul.list-style-inline {
                    li:first-child {
                        margin: 0 10px 0 0px;
                    }
                }
            }
        }
    }
    
    /* End of home page */

    .about-content-section {
        .about-content-div {
            p {
                margin: 0 0 20px 0;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
    
    .form-root-div {
        max-width: 550px;
    }

    .product-inner-section {
        .product-inner-div {
            .product-image-div {
                img {
                    width: 100%;
                    max-width: 80%;
                    margin: 0 auto 40px auto;
                }
            }
        }
    }

    .content-div {
        ul {
            li {
                font-size: 20px;
                line-height: 32px;
            }
        }
    }

    .image-block-section {
        .image-block-div {
            .img-block {
                height: 210px;
            }
            .img-full{
                height: 350px;
            }
        }
    }

}



@media (min-width: 1024px) and (max-width: 1366px) {

    

}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {



}