@import url(bootstrap.min.css);
@import url(animate.min.css);
@import url(waves.css);
@import url(owl.carousel.min.css);
@import url(feather.min.css);
@import url(select-custom.css);
@import url(select2.min.css);
@import url(datepicker-b4.min.css);
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* colors */
/* End of colors */
/* default css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-color: white;
  font-family: 'Ubuntu', sans-serif !important;
  scroll-behavior: smooth;
}

.wrapper {
  background-color: white;
  display: block;
  height: 100%;
}

.wrapper .btn.focus, .wrapper .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wrapper .btn {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.container {
  max-width: 1200px;
}

.container-lg {
  max-width: 1280px;
}

.page-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* End of default css */
/*  general css */
.white-color {
  fill: white;
}

.top-minues10 {
  margin-top: -10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mr-10 {
  margin-right: 10px;
}

.p0 {
  padding: 0px !important;
}

/*  */
a {
  color: #1F2027;
}

a:hover {
  color: #1F2027;
}

h2 {
  padding: 0;
  margin: 0 0 10px 0;
  color: #1F2027;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
}

p {
  font-size: 16px;
  color: #1F2027;
  line-height: 24px;
  font-weight: 400;
}

.btn.btn-primary {
  padding: 5px 20px;
  margin: 0;
  border: 1px solid #6FB048;
  background-color: #6FB048;
  text-transform: uppercase;
  color: white;
  min-height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 13px;
  border-radius: 100px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  line-height: 20px;
}

.btn.btn-primary:hover, .btn.btn-primary:focus {
  border: 1px solid #6FB048;
  background-color: #6FB048;
  -webkit-box-shadow: 0 3px 10px 0 rgba(110, 176, 72, 0.3);
          box-shadow: 0 3px 10px 0 rgba(110, 176, 72, 0.3);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn.btn-primary2 {
  background: #57AD68;
  border: 1px solid #57AD68;
  border-radius: 100px;
  min-height: 56px;
  width: auto;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  min-width: 215px;
}

.btn.btn-primary2:hover, .btn.btn-primary2:focus {
  background: #57AD68;
  border: 1px solid #57AD68;
  -webkit-box-shadow: 0 10px 15px 0 rgba(88, 173, 105, 0.4);
          box-shadow: 0 10px 15px 0 rgba(88, 173, 105, 0.4);
}

.btn-link {
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #1F2027;
  position: relative;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.btn-link::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 1px;
  background-color: #1F2027;
  bottom: -2px;
  left: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.btn-link:hover, .btn-link:focus {
  color: #1F2027;
}

.btn-link:hover::after, .btn-link:focus::after {
  background-color: #1F2027;
  width: 100%;
}

.button-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px 0 10px 0;
}

.max3-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.break-line {
  display: block;
}

.return-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: #1F2027;
  width: 50px;
  height: 50px;
  text-decoration: none;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 999;
}

.return-to-top i {
  color: white;
  margin: 0;
  position: relative;
  left: auto;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: initial;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.return-to-top:hover {
  background: #1F2027;
}

.return-to-top:hover i {
  color: white;
}

.display_show {
  display: block;
}

.position-fixed {
  position: unset !important;
  overflow: hidden;
}

/* add svg icons */
.call-icon {
  -webkit-mask: url(../images/icons/call.svg) no-repeat 50% 50%;
  mask: url(../images/icons/call.svg) no-repeat 50% 50%;
  -webkit-mask-size: contain;
  display: inline-block;
  vertical-align: middle;
  mask-size: contain;
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0 8px 0 0px;
}

.right-arrowicon {
  -webkit-mask: url(../images/icons/arrow-right.svg) no-repeat 50% 50%;
  mask: url(../images/icons/arrow-right.svg) no-repeat 50% 50%;
  -webkit-mask-size: contain;
  display: inline-block;
  vertical-align: middle;
  -webkit-mask-size: cover;
          mask-size: cover;
  width: 24px;
  height: 18px;
  color: rgba(110, 132, 163, 0.5);
  fill: rgba(110, 132, 163, 0.5);
  background-color: rgba(110, 132, 163, 0.5);
  margin: 0 0 0 10px;
}

/* select2 */
.select-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-control.select-control {
  border: 1px solid #D9EFFF;
  border-radius: 0px;
  min-height: 50px;
  color: #979797;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  -webkit-appearance: none;
  background: #285B89;
  position: relative;
}

.form-control.select-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.select-custom2 span.select2-selection.select2-selection--single {
  border: 1px solid #DFEAF1 !important;
  border-radius: 0px;
  min-height: 50px;
  color: #3C454C;
  padding: 10px 10px;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  -webkit-appearance: none;
  background: #FAFCFD;
  position: relative;
}

.select-custom2 .select2.select2-container .select2-selection .select2-selection__arrow {
  border-radius: 0 0px 0px 0;
  height: 47px;
  width: 37px;
  background-color: transparent;
  border: none;
}

.select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none;
  top: 15px;
  left: 10px;
}

.select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b::before {
  content: "";
  -webkit-mask: url(../images/icons/keyboard_arrow_up.svg) no-repeat 50% 50%;
  mask: url(../images/icons/keyboard_arrow_up.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  display: inline-block;
  vertical-align: middle;
  mask-size: cover;
  text-align: center;
  width: 24px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.select2-container .select2-dropdown .select2-search input {
  outline: none;
  border: 1px solid #DFEAF1;
  border-bottom: none;
  padding: 10px 10px;
}

.select2-container .select2-dropdown .select2-results ul {
  background: #fff;
  border: 1px solid #DFEAF1;
}

.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
  background-color: #1F2027;
}

.select2-results__option {
  padding: 10px;
}

/* end of select2 */
/*  End of general css */
.heading-div {
  padding: 0;
  margin: 0 0 20px 0;
  position: relative;
}

.heading-div h2 {
  padding: 0;
  margin: 0 0 35px 0;
  font-weight: 700;
  line-height: 60px;
  font-size: 32px;
  color: #1F2027;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading-div h2::after {
  content: "";
  background-color: #6FB048;
  height: 2px;
  display: inline-block;
  position: absolute;
  bottom: -5px;
  width: 65px;
}

.heading-div h2 span {
  display: block;
}

.heading-div .light-font {
  font-weight: 300;
}

.heading-div p {
  padding: 0;
  margin: 0 0 10px 0;
  width: 100%;
  text-align: center;
}

.heading-left-div {
  padding: 0;
  margin: 0 0 20px 0;
  position: relative;
}

.heading-left-div .light-font {
  font-weight: 300;
}

.heading-left-div h2 {
  padding: 0;
  margin: 0 0 30px 0;
}

.heading-left-div p {
  letter-spacing: 0;
  font-size: 24px;
  line-height: 36px;
  text-align: left;
  color: rgba(31, 32, 39, 0.47);
}

.heading-left-div .font-700 {
  font-weight: 700;
}

.heading-div2 {
  max-width: 1000px;
  margin: 0 auto;
}

.heading-div2 p {
  margin: 0 0 20px 0;
  line-height: 28px;
}

.heading-left-div2 p {
  margin: 0 0 20px 0;
}

.heading-div-inc2 p {
  line-height: 30px;
  font-size: 18px;
}

/* header */
.call-div {
  padding: 0 0 0 25px;
  margin: 0 0 0 15px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
}

.call-div .link-action {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  min-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  position: relative;
}

header .header-div.header-bgcolor {
  padding: 0;
  margin: 0;
  background-color: #1F2027;
  position: fixed;
  z-index: 9999;
  width: 100%;
  min-height: 75px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 9999;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateZ(65px);
          transform: translateZ(65px);
  -webkit-animation: slide-down 0.9s;
          animation: slide-down 0.9s;
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}

header .header-div {
  padding: 0;
  margin: 0;
  background-color: #1F2027;
  position: absolute;
  z-index: 9999;
  width: 100%;
  min-height: 86px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  /* start navigation  **/
  /*  End of navigation  */
}

header .header-div .logo-div {
  padding: 0px 0px 0px 0px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 35%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 86px;
}

header .header-div .nav-center-div {
  padding: 15px 0px 15px 0px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 65%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 86px;
}

header .header-div .main-logo {
  display: block;
}

header .header-div .logo_img {
  -webkit-transition: display ease-in-out 0.5s;
  transition: display ease-in-out 0.5s;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}

header .header-div .top-nav1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0 0 0;
  width: 100%;
}

header .header-div .inner-top-header-div {
  padding: 0;
  margin: 0;
}

header .header-div .inner-top-header-div.top-nav1 {
  padding: 0;
  margin: 0;
  float: right;
}

header .header-div .cd-shadow-layer {
  position: fixed;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  z-index: 99999;
  display: none;
}

header .header-div .cd-shadow-layer.is-visible {
  display: block;
  -webkit-animation: cd-fade-in 0.3s;
  animation: cd-fade-in 0.3s;
}

header .header-div .display-none {
  display: none !important;
}

header .header-div .nav-div .closebtn {
  display: none;
}

header .header-div .ullist-inline {
  padding: 0 0 0px 0;
  margin: 0px 0px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 45px;
}

header .header-div .ullist-inline li {
  padding: 0;
  margin: 0 35px 0 0;
  display: inline-block;
  text-transform: capitalize;
  font-size: 14px;
}

header .header-div .ullist-inline li.nav-item.dropdown.btn-user-dropdown {
  margin: 0;
}

header .header-div .ullist-inline li:last-child {
  margin: 0 0 0 0;
}

header .header-div .ullist-inline li .nav-link {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  padding: 10px 0px 3px 0;
  font-weight: 400;
  border-bottom: 1px solid transparent;
  font-size: 14px;
  line-height: 1.5;
}

header .header-div .ullist-inline li .nav-link {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

header .header-div .ullist-inline li .nav-link:before {
  left: 0px;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: white;
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
}

header .header-div .ullist-inline li .nav-link:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

header .header-div .ullist-inline li .nav-link:before, header .header-div .ullist-inline li .nav-link:after, header .header-div .ullist-inline li .nav-link > span:before, header .header-div .ullist-inline li .nav-link > span:after {
  content: '';
  position: absolute;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

header .header-div .ullist-inline li .nav-link:hover {
  color: white;
}

header .header-div .ullist-inline li.active .nav-link {
  color: white;
}

header .header-div .ullist-inline li.active .nav-link:before {
  left: 0px;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: white;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

header .header-div .ullist-inline li .nav-link.btn-user {
  height: 48px;
  width: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #003E89;
  margin: -10px 0 0 0;
}

header .header-div .ullist-inline li .nav-link.btn-user::before {
  display: none;
}

header .header-div .ullist-inline .dropdown-toggle::after {
  display: none;
}

header .header-div .ullist-inline .dropdown-menu {
  border: 1px solid #DFEAF1;
  min-width: 145px;
  border-radius: 0px;
}

header .header-div .ullist-inline .dropdown-menu li {
  display: block;
  width: 100%;
}

header .header-div .ullist-inline .dropdown-menu li a {
  padding: 6px 15px;
  width: 100%;
  display: block;
  margin: 0 0 5px 0;
  color: rgba(11, 22, 43, 0.5);
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .header-div .ullist-inline .dropdown-menu li a:hover {
  background-color: #F2F7F9;
  color: #0B162B;
}

header .header-div .ullist-inline .btn.btn-gradiant2.btn-mycart {
  padding: 5px 10px;
  min-height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: capitalize;
}

header .header-div .ullist-inline .btn.btn-gradiant2.btn-mycart span.count-span {
  background-color: #003E89;
  margin: 0 0 0 10px;
  border-radius: 100%;
  height: 27px;
  width: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  letter-spacing: -1px;
}

header .header-div .nav-m-bar .menu-bars {
  display: none;
}

/* End of header */
/* banner */
.home-banner {
  background: #1F2027 url(../images/home-banner.jpg) no-repeat;
  background-size: cover;
  background-position: right;
}

.banner-section {
  padding: 86px 0 0 0;
  margin: 0;
  position: relative;
}

.banner-section .banner-div {
  padding: 0 0 0 0;
  margin: 0px 0 0 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  min-height: 600px;
  background-color: rgba(31, 32, 39, 0.7);
}

.about-banner {
  background: #1F2027 url(../images/about-us.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
}

.about-banner .banner-div {
  background-color: rgba(31, 32, 39, 0.6);
}

.banner-content {
  padding: 0;
  margin: 0;
  position: relative;
}

.banner-content h1 {
  font-size: 48px;
  color: #6FB048;
  letter-spacing: 0.48px;
  text-align: center;
  line-height: 56px;
  font-weight: 400;
  margin: 0 0 10px 0;
  font-family: 'Times New Roman', Times, serif;
}

.banner-content p {
  font-weight: 300;
  font-size: 26px;
  color: #FFFFFF;
  letter-spacing: 0.26px;
  text-align: center;
  line-height: 40px;
}

/* End of banner */
/* Inner Pages  **/
.testimonials-section {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.testimonials-section .testimonials-div {
  padding: 90px 0 70px 0;
  margin: 0;
  background-color: #fafafa;
  -webkit-box-shadow: 0 20px 45px 0 rgba(44, 124, 229, 0.05);
          box-shadow: 0 20px 45px 0 rgba(44, 124, 229, 0.05);
}

.testimonials-section .testimonials-div .testimonials-box-root {
  padding: 30px 0px 0 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonials-section .testimonials-div .testimonials-box-root .testimonials-box {
  padding: 0px 0px 0px 0px;
  margin: 0px 0 20px 0px;
  background-color: transparent;
  border-radius: 4px;
  width: 100%;
  display: inline-block;
  min-height: 200px;
  position: relative;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.testimonials-section .testimonials-div .testimonials-box-root .testimonials-box .testimonials-thumb {
  padding: 0px 0 0 0;
  margin: 30px auto 20px auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials-section .testimonials-div .testimonials-box-root .testimonials-box .testimonials-thumb .client-img {
  height: 75px;
  width: 75px;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 75px;
  border-radius: 100px;
  z-index: 3;
  position: relative;
}

.testimonials-section .testimonials-div .testimonials-box-root .testimonials-box .testimonials-desc {
  padding: 25px 30px 20px 30px;
  margin: 0 auto;
  background: #FFFFFF;
  border: 1px solid #CFCFCF;
  border-radius: 4px;
  min-height: 160px;
  max-width: 570px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials-section .testimonials-div .testimonials-box-root .testimonials-box .testimonials-desc::before {
  content: "";
  background: url(../images/icons/quote.svg) no-repeat;
  position: absolute;
  top: 12px;
  left: 16px;
  background-size: contain;
  height: 26px;
  width: 30px;
}

.testimonials-section .testimonials-div .testimonials-box-root .testimonials-box .testimonials-desc h4 {
  padding: 0;
  margin: 0;
  color: rgba(31, 32, 39, 0.47);
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
}

.testimonials-section .testimonials-div .testimonials-box-root .testimonials-box .testimonials-desc p {
  padding: 0 10px;
  font-weight: 400;
  overflow: hidden;
  font-size: 14px;
  color: #1F2027;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
  font-style: italic;
  margin: 0 0 5px 0;
}

.testimonials-section .testimonials-div .testimonials-box-root .testimonials-box .testimonials-desc .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: -20px;
  position: absolute;
}

.testimonials-section .testimonials-div .testimonials-box-root .testimonials-box .testimonials-desc .arrow::before {
  content: "";
  border-bottom: 10px solid #ffffff00;
  border-right: 10px solid #ddd0;
  border-top: 10px solid #CFCFCF;
  border-left: 10px solid #ffffff00;
  display: inline-block;
  position: absolute;
  bottom: -1px;
}

.testimonials-section .testimonials-div .testimonials-box-root .testimonials-box .testimonials-desc .arrow::after {
  content: "";
  border-bottom: 10px solid #ffffff00;
  border-right: 10px solid #ddd0;
  border-top: 10px solid #ffffff;
  border-left: 10px solid #ffffff00;
  display: inline-block;
  position: absolute;
  bottom: 0;
}

.testimonials-section .testimonials-div .owl-testimonials .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0px;
}

.testimonials-section .testimonials-div .owl-testimonials .owl-dot {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.testimonials-section .testimonials-div .owl-testimonials .owl-dot span {
  background-color: #D8D8D8;
  border: 1px solid #979797;
  height: 13px;
  width: 13px;
  display: inline-block;
  border-radius: 100px;
  margin: 0 7px 0 7px;
}

.testimonials-section .testimonials-div .owl-testimonials .owl-dot.active span {
  background-color: #727272;
}

.product-section {
  padding: 0 0 70px 0;
  margin: 0;
  position: relative;
}

.product-section .product-main-div {
  padding: 70px 0 70px 0;
}

.product-section .product-main-div::after {
  content: "";
  border-bottom: 1px solid rgba(151, 151, 151, 0.32);
  width: 100%;
  position: absolute;
  max-width: 1170px;
  bottom: 0;
}

.product-section .product-div {
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-section .product-div .product-root {
  padding: 0 15px 0 0;
  margin: 0;
}

.product-section .product-div .product-img {
  width: 100%;
}

.product-section .product-div .product-root2 {
  padding: 0 0 0 40px;
  margin: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-section .product-div .product-root2 p {
  color: rgba(31, 32, 39, 0.55);
}

.product-section .product-sub {
  padding: 70px 0 0 0;
  margin: 0;
  position: relative;
}

.product-section .product-sub .product-img {
  width: 100%;
}

.product-section .product-sub .product-root2 {
  padding: 0 0 0 40px;
  margin: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-section .product-sub .product-root2 p {
  color: rgba(31, 32, 39, 0.55);
  margin: 0 0 10px 0;
}

.product-section .product-sub.product-left-div .product-root2 {
  padding: 0 40px 0 0;
}

.blockquote-border {
  padding: 20px 0 40px 0;
  position: relative;
}

.blockquote-border p {
  padding: 0 20px;
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
  color: #000D0D;
  letter-spacing: 0;
  line-height: 36px;
  border-left: 4px solid #6FB048;
  text-align: left;
}

.applications-section {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.applications-section .applications-div {
  padding: 70px 0 70px 0;
  margin: 0;
  background-color: #fafafa;
}

.applications-section .applications-div .app-root {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

.applications-section .applications-div .app-root p {
  letter-spacing: 0;
  font-size: 24px;
  line-height: 36px;
  margin: 0 0 40px 0;
}

.applications-section .applications-div .app-root .btn.btn-primary2 {
  border: 1px solid #6FB048;
  background-color: #6FB048;
}

.applications-section .applications-div .app-root .btn.btn-primary2:hover, .applications-section .applications-div .app-root .btn.btn-primary2:focus {
  border: 1px solid #6FB048;
  background-color: #6FB048;
}

.footer-root {
  padding: 0;
  margin: 0;
}

.footer-root .footer-div {
  padding: 25px 0 20px 0;
  margin: 0;
  position: relative;
  background-color: #1F2027;
}

.footer-root .footer-div .logo-footer {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-root .footer-div .img-footerlogo {
  height: 60px;
}

.footer-root .footer-div .footer-list-root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 44px;
}

.footer-root .footer-div .footer-list-root ul.footer-ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-root .footer-div .footer-list-root ul.footer-ul li {
  padding: 0;
  margin: 0 0 0 30px;
}

.footer-root .footer-div .footer-list-root ul.footer-ul li.active a.link-footer {
  color: white;
}

.footer-root .footer-div .footer-list-root ul.footer-ul a.link-footer {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  padding: 0px 0px 3px 0;
  font-weight: 400;
  border-bottom: 1px solid transparent;
  font-size: 16px;
  line-height: 1.5;
}

.footer-root .footer-div .footer-list-root ul.footer-ul a.link-footer:hover, .footer-root .footer-div .footer-list-root ul.footer-ul a.link-footer:focus {
  color: white;
}

.footer-root .footer-bottom {
  padding: 15px 0 15px 0;
  margin: 0;
  background-color: black;
}

.footer-root .footer-bottom p {
  padding: 0;
  margin: 0;
  color: #DEDEDE;
  font-size: 14px;
  line-height: 24px;
}

.footer-root .footer-bottom .link-a {
  color: #DEDEDE;
}

.footer-root .footer-bottom .link-a:hover, .footer-root .footer-bottom .link-a:focus {
  color: #DEDEDE;
}

.footer-root .footer-bottom .footer-bottom-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-root .footer-bottom .footer-bottom-right ul.list-style-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.footer-root .footer-bottom .footer-bottom-right ul.list-style-inline li {
  list-style: none;
  margin: 0 10px 0 10px;
}

.footer-root .footer-bottom .footer-bottom-right ul.list-style-inline li:last-child {
  margin-right: 0px;
}

.footer-root .footer-bottom .footer-bottom-right ul.list-style-inline .social-link {
  color: #fff;
}

.footer-root .footer-bottom .footer-bottom-right ul.list-style-inline .social-link .icon {
  font-size: 18px;
  padding: 5px;
  height: 25px;
  width: 25px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.footer-root .footer-bottom .footer-bottom-right ul.list-style-inline .social-link:hover, .footer-root .footer-bottom .footer-bottom-right ul.list-style-inline .social-link:focus {
  color: #6FB048;
}

/* end of home page */
.about-us-section {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.about-us-section .about-us-div {
  padding: 70px 0 70px 0;
  margin: 0;
}

.about-content-section {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.about-content-section .about-content-div {
  padding: 70px 0 70px 0;
  margin: 0;
  background-color: #FAFAFA;
}

.about-content-section .about-content-div p {
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
}

.about-content-section {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.about-content-section .about-content-div {
  padding: 70px 0 70px 0;
  margin: 0;
  background-color: #FAFAFA;
}

.about-content-section .about-content-div p {
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
}

.product-inner-section {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.product-inner-section .product-inner-div {
  padding: 70px 0 70px 0;
  margin: 0;
}

.product-inner-section .product-inner-div .heading-div {
  margin: 0 0 60px 0;
}

.product-inner-section .product-inner-div .product-image-div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-inner-section .product-inner-div .product-image-div img {
  width: 100%;
}

.product-content-section {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.product-content-section .product-content-div {
  padding: 70px 0 50px 0;
  margin: 0;
  background-color: #FAFAFA;
}

.pt-86 {
  padding-top: 86px;
}

.content-div ul {
  list-style: none;
}

.content-div ul li {
  padding: 0 0 0 40px;
  margin: 0 0 30px 0;
  width: 100%;
  color: #1A1919;
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  position: relative;
}

.content-div ul li sup {
  font-size: 75%;
}

.content-div ul li::before {
  content: "\e86c";
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #6FB048;
  position: absolute;
  left: 0;
  top: 6px;
}

.content-div .ul-update2 li {
  padding: 8px 0 0 40px;
  margin: 0 0 10px 0;
  width: 100%;
  font-size: 18px;
  line-height: 28px;
}

.content-div .ul-update2 li::before {
  top: 10px;
}

.content-div2 {
  max-width: 1000px;
  margin: 0 auto;
}

.contact-section {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.contact-section .contact-div {
  padding: 70px 0 70px 0;
  margin: 0;
  background-color: #FAFAFA;
}

.image-block-section {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.image-block-section .image-block-div {
  padding: 70px 0 70px 0;
  margin: 0;
}

.image-block-section .image-block-div .img-block {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 400px;
  margin: 0 0 30px 0;
  border-radius: 4px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.image-block-section .image-block-div .img-block:hover {
  opacity: 0.8;
}

.image-block-section .image-block-div .img-full {
  height: 550px;
}

.attachment-block-thumb {
  padding: 0 0 50px 0;
  margin: 0 0 50px 0;
  border-bottom: 1px solid #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.attachment-block-thumb ul {
  margin: 0 auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.attachment-block-thumb ul li {
  font-size: 24px;
}

.attachment-block-thumb ul li .attachment-link {
  color: #6fb047;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.attachment-block-thumb ul li .attachment-link:hover {
  color: #222222;
}

.attachment-block-thumb ul li .vline {
  padding: 0 25px;
}

.form-root-div {
  padding: 0;
  margin: 40px auto 0 auto;
  max-width: 750px;
}

.form-root-div .form-control {
  border: 1px solid #1F2027;
  -webkit-box-shadow: none;
          box-shadow: none;
  min-height: 60px;
  padding: 9px 20px 7px 20px;
  border-radius: 9px;
  font-size: 16px;
  color: #727272;
  font-weight: 500;
}

.form-root-div .form-control::-webkit-input-placeholder {
  color: #1F2027;
}

.form-root-div .form-control:-moz-placeholder {
  color: #1F2027;
}

.form-root-div .form-control::-moz-placeholder {
  color: #1F2027;
}

.form-root-div .form-control:-ms-input-placeholder {
  color: #1F2027;
}

.form-root-div .form-control:focus {
  border: 1px solid #979797;
}

.form-root-div .submit-btn-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0 0 0;
}

.form-root-div textarea.form-control {
  padding: 15px 20px;
  resize: none;
  min-height: 150px;
}

.contact-map-section {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.contact-map-section .contact-map-div {
  padding: 70px 0 70px 0;
  margin: 0;
}

.contact-map-section .contact-map-div .contact-root p {
  font-size: 21px;
  line-height: 32px;
  margin: 0 0 10px 0;
}

.contact-map-section .contact-map-div .contact-root .contact-info-div {
  margin: 0 0 0 0;
  padding: 0 0 20px 0;
}

.contact-map-section .contact-map-div .map-frame {
  width: 100%;
  min-height: 300px;
}

.product-details-table {
  padding: 0;
  margin: 0;
}

.product-details-table .font-700 {
  font-weight: 700 !important;
}

.product-details-table .table-row {
  border-bottom: 2px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-details-table .table-row .table-col {
  background-color: #dbdcde;
  padding: 10px;
  border-right: 2px solid #fff;
  font-size: 16px;
  color: #222222;
  font-weight: 400;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
}

.product-details-table .table-row .table-col sup {
  font-size: 75%;
}

.product-details-table .table-row .table-col1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  width: 100%;
}

.product-details-table .table-row .table-col2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  width: 100%;
}

.product-details-table .table-row .table-col3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  width: 100%;
}

.product-details-table .table-heading .table-col {
  text-align: center;
  padding: 15px 10px;
  font-size: 18px;
  color: #47319c;
  font-weight: 700;
}

@media (min-width: 1025px) {
  .main-middle-area {
    min-height: calc(100vh - 155px);
  }
}

@media (min-width: 1025px) and (max-width: 1290px) {
  .container {
    max-width: 1100px;
  }
}

@media (min-width: 1025px) and (max-width: 1450px) {
  .heading-div h2 {
    font-size: 36px;
    line-height: 48px;
  }
  h2 {
    font-size: 36px;
    line-height: 48px;
  }
  p {
    font-size: 14px;
    line-height: 26px;
  }
  .btn-link {
    font-size: 14px;
    line-height: 26px;
  }
  .product-section .product-div .product-content {
    min-height: 400px;
  }
  .product-section .product-div .product-content .cover-img-div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    max-width: 45%;
  }
  .product-section .product-div .product-content .cover-img-div .product-img {
    height: auto;
  }
  .product-section .product-div .product-content .content-div {
    padding: 0px 0 30px 40px;
  }
  .about-us-section .about-us-div .side-img-banner {
    top: 00px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 44%;
            flex: 0 0 44%;
    max-width: 44%;
  }
  .about-us-section .about-us-div .side-img-banner img.banner-img {
    height: auto;
  }
  .track-breaches-section .track-breaches-div .side-img-banner img.banner-img {
    height: auto;
  }
  .testimonials-section .testimonials-div::after {
    height: 80px;
    width: 265px;
  }
  .testimonials-section .testimonials-div::before {
    height: 80px;
    width: 265px;
  }
}

@media (max-width: 767px) {
  .overflow-fixed {
    overflow: hidden;
  }
  .home-banner {
    background-position: right;
  }
  header .header-div {
    min-height: 70px;
  }
  header .header-div .logo_img {
    height: 45px;
  }
  header .header-div .nav-center-div {
    width: 50px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    min-height: 70px;
    padding: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header-div .logo-div {
    width: calc( 100% - 50px);
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .header-div .logo-div .logo_link {
    width: 130px;
  }
  header .header-div .top-nav1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header-div .nav-m-bar .menu-bars {
    font-size: 30px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-div .nav-div {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999999;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 60px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header .header-div .nav-div .closebtn {
    position: absolute;
    color: #1F2027;
    background-color: transparent;
    border-radius: 0 0 0 30px;
    top: 0;
    min-width: 45px;
    text-align: center;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0;
    font-size: 40px;
    font-weight: 300;
    line-height: 35px;
    margin-top: 15px;
    margin-right: 10px;
  }
  header .header-div .nav-div .closebtn:hover {
    color: #1F2027;
  }
  header .header-div .nav-div .closebtn {
    display: block;
  }
  header .header-div .width80 {
    width: 300px;
  }
  header .header-div .opacityon {
    opacity: 1;
  }
  header .header-div .cd-shadow-layer.displayblock {
    display: block;
    height: 100%;
    overflow: hidden;
  }
  header .header-div .nav {
    margin: 0 auto;
    padding: 0 15px;
  }
  header .header-div .max-container-container {
    bottom: 20px;
  }
  header .header-div .banner-caption {
    padding: 0px 0;
  }
  header .header-div .banner-section .banner-div .center_title .social-icon-div ul {
    margin: 0 0 8px 0;
  }
  header .header-div .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header-div .header-right-div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-div .logo-div {
    padding: 15px 0;
    min-height: 70px;
  }
  header .header-div .nav-div .closebtn {
    display: block;
    color: #1F2027;
  }
  header .header-div .ullist-inline li {
    width: 100%;
    margin: 0;
  }
  header .header-div .ullist-inline li .nav-link {
    color: #1F2027 !important;
    padding: 15px 30px;
    white-space: nowrap;
    width: 100%;
    text-align: center;
  }
  header .header-div .ullist-inline li.active .nav-link {
    color: #1F2027 !important;
  }
  header .header-div a.btn.btn-blue.top-minues10 {
    margin: 10px !important;
    border-radius: 0px;
  }
  header .header-div .contact-us-btn.ml-10 {
    margin: 20px 20px 20px 20px !important;
    padding: 10px;
  }
  header .header-div .btn.btn-primary {
    margin: 10px auto;
    width: 150px;
  }
  header .header-div.header-bgcolor {
    -webkit-animation: none;
            animation: none;
    min-height: 70px;
    -webkit-transform: none;
            transform: none;
  }
  .call-div {
    border-left: none;
  }
  .call-div span.call-text {
    display: none;
  }
  .position-fixed {
    overflow: hidden;
  }
  .heading-div h2 {
    font-size: 30px;
    line-height: 42px;
  }
  h2 {
    font-size: 30px;
    line-height: 42px;
  }
  p {
    font-size: 14px;
    line-height: 26px;
  }
  .btn-link {
    font-size: 14px;
    line-height: 26px;
  }
  .break-line {
    display: inline-block;
  }
  .return-to-top {
    bottom: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
  }
  .return-to-top i {
    font-size: 14px !important;
  }
  /********/
  .banner-section {
    padding: 70px 0 0 0;
  }
  .banner-section .banner-div {
    min-height: calc(100vh - 70px);
  }
  .banner-content h1 {
    font-size: 36px;
    line-height: 48px;
  }
  .banner-content p {
    font-size: 20px;
    line-height: 28px;
  }
  .testimonials-section .testimonials-div .testimonials-box-root .testimonials-box {
    padding: 0px 0px 0px 0px;
    margin: 0px 0 20px 0px;
  }
  .testimonials-section .testimonials-div .owl-testimonials .owl-dots {
    padding-left: 0;
  }
  .heading-left-div p {
    font-size: 20px;
    line-height: 32px;
  }
  .blockquote-border p {
    padding: 0 15px;
    font-size: 18px;
    line-height: 28px;
  }
  .product-section .product-div .side-img-banner {
    margin: 70px 0 0 0;
  }
  .product-section .product-sub .product-root2 {
    padding: 0 0 0 0px;
  }
  .product-section .product-right-div .side-img-banner {
    margin: 0 0 30px 0;
  }
  .product-section .product-sub.product-left-div .product-root2 {
    padding: 0 0px 0 0;
  }
  .product-section .product-sub.product-left-div .side-img-banner {
    margin: 0 0 30px 0;
  }
  .btn.btn-primary2 {
    min-height: 48px;
    font-size: 16px;
    min-width: 215px;
  }
  .footer-root .footer-div .logo-footer {
    margin: 10px 0 0px 0;
  }
  .footer-root .footer-div .footer-list-root {
    display: block;
  }
  .footer-root .footer-div .footer-list-root ul.footer-ul {
    display: block;
    padding: 20px 0 10px 0;
  }
  .footer-root .footer-div .footer-list-root ul.footer-ul li {
    margin: 10px 0 0 0px;
    text-align: left;
    width: 49%;
    display: inline-block;
  }
  .footer-root .footer-div .footer-list-root ul.footer-ul a.link-footer {
    font-size: 14px;
  }
  .footer-root .footer-div .img-footerlogo {
    height: 45px;
  }
  .footer-root .footer-bottom {
    padding: 15px 0 15px 0;
  }
  .footer-root .footer-bottom .footer-bottom-right {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 10px 0 0 0;
  }
  .footer-root .footer-bottom .footer-bottom-right ul.list-style-inline li:first-child {
    margin: 0 10px 0 0px;
  }
  /* End of home page */
  .about-content-section .about-content-div p {
    margin: 0 0 20px 0;
    font-size: 14px;
    line-height: 24px;
  }
  .product-inner-section .product-inner-div .product-image-div {
    margin: 40px 0;
  }
  .content-div ul li {
    padding: 5px 0 0 40px;
    margin: 0 0 20px 0;
    font-size: 18px;
    line-height: 28px;
  }
  .content-div .ul-update2 li {
    padding: 5px 0 0 30px;
    margin: 0 0 20px 0;
    font-size: 16px;
    line-height: 26px;
  }
  .contact-root {
    margin: 0 0 60px 0;
  }
  .product-inner-section .product-inner-div .order-lg-2.order-md-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .product-inner-section .product-inner-div .product-image-div {
    margin: 0 0 20px 0;
    height: auto;
  }
  .product-details-table .table-heading .table-col {
    padding: 10px 5px;
    font-size: 14px;
  }
  .product-details-table .table-row {
    border-bottom: 1px solid #fff;
  }
  .product-details-table .table-row .table-col {
    padding: 10px 5px;
    border-right: 1px solid #fff;
    font-size: 12px;
    word-break: break-word;
  }
  .product-details-table .table-row .table-col1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
    max-width: 35%;
  }
  .product-details-table .table-row .table-col2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
            flex: 0 0 33%;
    max-width: 33%;
  }
  .product-details-table .table-row .table-col3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
            flex: 0 0 32%;
    max-width: 32%;
  }
  .content-div ul li {
    font-size: 16px;
    line-height: 28px;
    padding: 0px 0 0 30px;
  }
  .content-div ul li::before {
    font-size: 18px;
  }
  .image-block-section .image-block-div .img-block {
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .overflow-fixed {
    overflow: hidden;
  }
  header .header-div {
    min-height: 70px;
  }
  header .header-div .logo_img {
    height: 55px;
  }
  header .header-div .nav-center-div {
    width: 30%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    min-height: 70px;
    padding: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header-div .logo-div {
    width: 70%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header .header-div .logo-div .logo_link {
    width: auto;
  }
  header .header-div .top-nav1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header-div .nav-m-bar .menu-bars {
    font-size: 30px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-div .nav-div {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999999;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 60px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header .header-div .nav-div .closebtn {
    position: absolute;
    color: #1F2027;
    background-color: transparent;
    border-radius: 0 0 0 30px;
    top: 0;
    min-width: 45px;
    text-align: center;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0;
    font-size: 40px;
    font-weight: 300;
    line-height: 35px;
    margin-top: 15px;
    margin-right: 10px;
  }
  header .header-div .nav-div .closebtn:hover {
    color: #1F2027;
  }
  header .header-div .nav-div .closebtn {
    display: block;
  }
  header .header-div .width80 {
    width: 300px;
  }
  header .header-div .opacityon {
    opacity: 1;
  }
  header .header-div .cd-shadow-layer.displayblock {
    display: block;
    height: 100%;
    overflow: hidden;
  }
  header .header-div .nav {
    margin: 0 auto;
    padding: 0 15px;
  }
  header .header-div .max-container-container {
    bottom: 20px;
  }
  header .header-div .banner-caption {
    padding: 0px 0;
  }
  header .header-div .banner-section .banner-div .center_title .social-icon-div ul {
    margin: 0 0 8px 0;
  }
  header .header-div .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header-div .header-right-div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-div .logo-div {
    padding: 15px 0;
    min-height: 70px;
  }
  header .header-div .nav-div .closebtn {
    display: block;
    color: #1F2027;
  }
  header .header-div .ullist-inline li {
    width: 100%;
    margin: 0;
  }
  header .header-div .ullist-inline li .nav-link {
    color: #1F2027 !important;
    padding: 15px 30px;
    white-space: nowrap;
    width: 100%;
    text-align: center;
  }
  header .header-div .ullist-inline li.active .nav-link {
    color: #1F2027 !important;
  }
  header .header-div a.btn.btn-blue.top-minues10 {
    margin: 10px !important;
    border-radius: 0px;
  }
  header .header-div .contact-us-btn.ml-10 {
    margin: 20px 20px 20px 20px !important;
    padding: 10px;
  }
  header .header-div .btn.btn-primary {
    margin: 10px auto;
    width: 150px;
  }
  header .header-div.header-bgcolor {
    -webkit-animation: none;
            animation: none;
    min-height: 70px;
    -webkit-transform: none;
            transform: none;
  }
  .position-fixed {
    overflow: hidden;
  }
  .heading-div h2 {
    font-size: 30px;
    line-height: 42px;
  }
  h2 {
    font-size: 30px;
    line-height: 42px;
  }
  p {
    font-size: 14px;
    line-height: 26px;
  }
  .btn-link {
    font-size: 14px;
    line-height: 26px;
  }
  .break-line {
    display: inline-block;
  }
  .return-to-top {
    bottom: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
  }
  .return-to-top i {
    font-size: 14px !important;
  }
  /********/
  .banner-section {
    padding: 70px 0 0 0;
  }
  .banner-section .banner-div {
    min-height: 500px;
  }
  .banner-content h1 {
    font-size: 36px;
    line-height: 48px;
  }
  .banner-content p {
    font-size: 20px;
    line-height: 28px;
  }
  .testimonials-section .testimonials-div .testimonials-box-root .testimonials-box {
    padding: 0px 0px 0px 0px;
    margin: 0px 0 20px 0px;
  }
  .testimonials-section .testimonials-div .owl-testimonials .owl-dots {
    padding-left: 0;
  }
  .heading-left-div p {
    font-size: 16px;
    line-height: 28px;
  }
  .blockquote-border {
    padding: 10px 0 20px 0;
  }
  .blockquote-border p {
    padding: 0 15px;
    font-size: 16px;
    line-height: 28px;
  }
  .product-section .product-div .side-img-banner {
    margin: 70px 0 0 0;
  }
  .product-section .product-sub .product-root2 {
    padding: 0 0 0 0px;
  }
  .product-section .product-right-div .side-img-banner {
    margin: 0 0 30px 0;
  }
  .product-section .product-sub.product-left-div .product-root2 {
    padding: 0 0px 0 0;
  }
  .product-section .product-sub.product-left-div .side-img-banner {
    margin: 0 0 30px 0;
  }
  .btn.btn-primary2 {
    min-height: 48px;
    font-size: 16px;
    min-width: 215px;
  }
  .footer-root .footer-div .logo-footer {
    margin: 10px 0 0px 0;
  }
  .footer-root .footer-div .img-footerlogo {
    height: 55px;
  }
  .footer-root .footer-bottom {
    padding: 20px 0 20px 0;
  }
  .footer-root .footer-bottom .row.align-items-center {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  .footer-root .footer-bottom .footer-bottom-right ul.list-style-inline li:first-child {
    margin: 0 10px 0 0px;
  }
  /* End of home page */
  .about-content-section .about-content-div p {
    margin: 0 0 20px 0;
    font-size: 16px;
    line-height: 24px;
  }
  .form-root-div {
    max-width: 550px;
  }
  .product-inner-section .product-inner-div .product-image-div img {
    width: 100%;
    max-width: 80%;
    margin: 0 auto 40px auto;
  }
  .content-div ul li {
    font-size: 20px;
    line-height: 32px;
  }
  .image-block-section .image-block-div .img-block {
    height: 210px;
  }
  .image-block-section .image-block-div .img-full {
    height: 350px;
  }
}
/*# sourceMappingURL=style-old-color.css.map */